# Pega aquí el token que extraeremos del navegador
BIWENGER_TOKEN=tu_token_aqui

# Pega aquí el ID de la liga
BIWENGER_LEAGUE_ID=tu_liga_aqui

# Fecha a partir de la cual el bot puede empezar a pujar (Formato YYYY-MM-DD)
FECHA_INICIO_PUJAS=2026-08-01

# Límite máximo de jugadores permitidos en tu plantilla
MAX_JUGADORES_PLANTILLA=22
